<div style="padding: 15px;">


    <div *ngIf="showSelector">
        <div>Select a version:</div>
        <div >
            <input [(ngModel)]="versionChosen" type="radio" name="bibleVersion" value="KJV" />KJV &nbsp;
            <input [(ngModel)]="versionChosen" type="radio" name="bibleVersion" value="NKJV" />NKJV &nbsp;
            <input [(ngModel)]="versionChosen" type="radio" name="bibleVersion" value="ESV-2016" />NASB &nbsp;
            <input [(ngModel)]="versionChosen" type="radio" name="bibleVersion" value="ESV-2016" />ESV &nbsp;
            <input [(ngModel)]="versionChosen" type="radio" name="bibleVersion" value="ESV-2001" />ESV-2001 &nbsp;
            <input [(ngModel)]="versionChosen" type="radio" name="bibleVersion" value="NIV-1984" />NIV-1984 &nbsp;
        </div>

        <!-- <select [(ngModel)]="version">
            <option value="KJV">KJV</option>
        </select> -->


        <div>Select Content:</div>
        <div *ngFor = "let book of books66i; let i = index">
            <input type="checkbox" [(ngModel)]="book[1]" />{{book[0]}} &nbsp;
            <div *ngIf="book[1]">
                <button (click)="toggleChapters(i)">Select/Deselect All</button>
                <div *ngFor="let chapter of books66i[i][2]; let j = index" id="inlineblock" >
                    <input type="checkbox" [(ngModel)]="books66i[i][2][j]" >{{j + 1}} &nbsp;
                </div>
            </div>
        </div>
        <button (click)="begin()">Begin</button> {{noVersesSelected}}
    </div>
    <div *ngIf="!showSelector">
        <button (click)="verseRenderer()">Next Verse</button>
        <div>
            <div *ngIf="verseToDisplay1 !== ''">{{verseToDisplay1}}<br></div>
            <b>{{verseToDisplay2}}</b><br>
            <div *ngIf="verseToDisplay3 !== ''"></div>{{verseToDisplay3}}
        </div>
        <button (click)="showVerse()">Show Verse</button>&nbsp;
        <button (click)="showChapter()">Show Chapter</button>&nbsp;
        <button (click)="showBook()">Show Book</button>
        <div *ngIf="showVerseVar">
            {{verseLoc}}
        </div>
        <div *ngIf="showChapterVar && chapterLocNum && versionChosen ==='NKJV'">
            <p class="block underline marginbottom0">{{bookLoc}} {{chapterLocNum}}</p>
            <div *ngFor="let chapterVerse of fullTextChapter; let j = index">
                <p class="block marginbottom0" [ngStyle]="verseOnlyLocNum === j+1 ? {'font-weight': 'bold'} : ''">{{chapterLocNum}}:{{j+1}}) {{chapterVerse}}</p>
            </div>
        </div>
        <div *ngIf="showBookVar && versionChosen ==='NKJV'">
            <div *ngFor="let chapter of fullText; let i = index">
                <p class=" block underline marginbottom0">{{bookLoc}} {{i+1}}</p>
                <div *ngFor="let verse of fullText[i]; let j = index">
                    <p class="block marginbottom0" [ngStyle]="chapterLocNum === i+1 && verseOnlyLocNum === j+1 ? {'font-weight': 'bold'} : ''">{{i+1}}:{{j+1}}) {{verse}}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>

